@charset "UTF-8";
/* CSS Document */
/*all--------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
html{
    width: 820px;
    background-color: #FFEEEF;
        -webkit-text-size-adjust:100%;
}
body{
    background-color: #fff;
}
.center{text-align: center;}

/*header--------------------------------------------------------*/
.hedder-bg{
    width: 100%;
    background-color: #859CD0;
    position: relative;
    height: 70px;
}
.hedder-square{
    background-color: #FFF;
    width: 3.7%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 5%;
}
.p1{
    color: #FFF;
    position: absolute;
    top: 18%;
    left: 13%;
    font-size: 14px;
    letter-spacing: 3px;
    
}
.p2{
    color: #FFF;
    position: absolute;
    top: 36%;
    left: 13%;
    font-size: 30px;
    letter-spacing: 8px;
}

/*プロフィール--------------------------------------------------------*/
.profile{
    margin-top: 30px;
    margin-bottom: 4px;
}

.p-text{
    font-size: 11px;
    text-align: center;
    line-height: 23px;
    margin-left: 12px;
}
.masking{
    margin-top: 30px;
    margin-bottom: -133px; 
}

.p-text2{
    padding-top: 40px;
    font-size: 13px;
    width: 340px;
    text-align: center;
    margin-left: 35px;
}

/*glaff--------------------------------------------------------*/
.picrure{
    margin-top: 40px;
    margin-bottom: 80px;
}


/*nav--------------------------------------------------------*/
.nav a{
    margin: 30px;
    background-color: #87A3FF;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFF;
}
.nav{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*works--------------------------------------------------------*/
.works-img{
    margin-top: 80px;
    margin-bottom: 20px;
}
.works img{
    margin-top: 20px;
}

/*contact--------------------------------------------------------*/
.contact-img{
    margin-top: 60px;
    margin-bottom: 50px;
}
.contact{
    margin-top: 30px;
    text-align: center;
}
.contact p{
    font-size : 11px;
}


.inline1{
    display: inline-block;
}
.inline1 p{
    display: inline-block;
    padding-bottom: 30px;
    margin-left: 20px;
}
.inline1 img{
    display: inline-block;
    margin-bottom: -13px;
}


.inline2{
    display: inline-block;
}
.inline2 p{
    display: inline-block;
    margin-left: 16px;
}
.inline2 img{
    display: inline-block;
    margin-bottom: -16px;
    margin-left: -83px;
}
/*fotter--------------------------------------------------------*/
.footer{
    margin-top: 90px;
    height: 50px;
    background-color: #87A3FF;
}
.footer p{
    padding-top: 15px;
    color: #FFF;
    font-size: 10px;
    text-align: center;
    
}
/*all--------------------------------------------------------*/
/*all--------------------------------------------------------*/






























