@charset "UTF-8";
/* CSS Document */
/*all--------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
html{
    width: 410px;
    background-color: #FFEEEF;
    -webkit-text-size-adjust:100%;
}
body{
    background-color: #fff;
}
.center{text-align: center;}



/*header--------------------------------------------------------*/
.hedder-bg{
    width: 100%;
    background-color: #859CD0;
    position: relative;
    height: 70px;
}
.hedder-square{
    background-color: #FFF;
    width: 5%;
    height: 77%;
    position: absolute;
    top: 11%;
    left: 2%;
}
.p1{
    color: #FFF;
    position: absolute;
    top: 10%;
    left: 10%;
    letter-spacing: 3px;
    
}
.p2{
    color: #FFF;
    position: absolute;
    top: 28%;
    left: 10%;
    font-size: 40px;
    letter-spacing: 8px;
}
/*title--------------------------------------------------------*/
h4{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
   
}
.hinata-link{
    padding: 30px;
}
.hinata-img{
    margin-bottom: 20px;
}
.p-1{
    width: 363px;
    padding-top: 30px;
    padding-left: 30px;
}
.p-2{
    width: 363px;
    padding-left: 30px;
    padding-top: 10px;
}


.bg{
    background-color: #859CD0;
    width: 410px;
    height: 60px;
    margin-top: 30px;
}
/*main-img--------------------------------------------------------*/
/*main-img--------------------------------------------------------*/
/*main-img--------------------------------------------------------*/
/*main-img--------------------------------------------------------*/





































